<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 使用没有参数的构造方法-->
    <bean id="user" class="User" >
      <property name="name" value="小红"/>
  </bean>

    <!-- 使用有参数的构造方法 后面的name参数是别名-->
    <bean id="user1" class="User" name="user2">
        <constructor-arg index="0" value="雷"/>
    </bean>


    <!-- 也是起别名的一种方法-->
    <alias name="user" alias="userNew"/>

</beans>