<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean name="student" class="Student">
    <property name="name" value="小明"/>
    <property name="address" ref="address"/>
    <property name="books">
        <array>
            <value>红楼梦</value>
            <value>西游记</value>
            <value>三国演义</value>
        </array>
    </property>
    <property name="likes">
        <list>
            <value>敲代码</value>
            <value>看电影</value>
            <value>追剧</value>
        </list>
    </property>
    <property name="card">
        <map>
            <entry key="身份证" value="121212121212121"/>
            <entry key="银行卡" value="12121212121212"/>
        </map>
    </property>
    <property name="games">
        <set>
            <value>王者荣耀</value>
            <value>换装小游戏</value>
            <value>坦克大战</value>
        </set>
    </property>
    <property name="wife">
        <null></null>
    </property>
    <property name="info">
        <props>
            <prop key="姓名">小明</prop>
            <prop key="性别">男</prop>
            <prop key="年级">六年级</prop>
        </props>
    </property>
</bean>

    <bean name="address" class="Address">
        <property name="address" value="西安市大雁塔"/>
    </bean>



</beans>